:root{
    --Scissors_Gradient: linear-gradient(#ec9e0e, #eca922);
    --Paper_Gradient: linear-gradient(#4865f4, #5671f5);
    --Rock_Gradient: linear-gradient(#dc2e4e, #dd405d);
    --Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
    --Dark_Text: #3b4363;
    --Score_Text: hsl(229, 64%, 46%);
    --Header_Outline: hsl(217, 16%, 4);
    --Radial_Gradient: #1f3757 to #141539;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


*{
    margin: 0;
    padding: 0;
}

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body{
    width: 100vw;
    height: 100vh;
    background: rgb(31,55,87);
    background: linear-gradient(180deg, rgba(31,55,87,1) 0%, rgba(20,21,57,1) 69%);
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.container{
    width: max-content;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.textContainer{
    width: 40rem;
    height: 7.5rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border: 4px solid var(--Dark_Text);
    padding: 1.5rem;
    border-radius: 10px;
}

.textContainer span{
    width: 80px;
    font-size: 2.4rem;
    color: #f7f7f7;
    margin: auto 0;
    line-height: 34px;
}

.score{
    width: 9.5rem;
    height: 7.25rem;
    background-color: #f7f7f7;
    box-shadow:  0 0 1em rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score span{
    color: hsl(229, 64%, 46%);
    font-size: 1.1rem;
    margin: auto;
    width: min-content;
}

.score p{
    font-size: 4.5rem;
    text-align: center;
    color: var(--Dark_Text);
}

.game{
    width: 30rem;
    height: 450px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    background-image: url('../images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center 55px;
}

.game svg{
   margin: auto; 
}


/* estilo dos card */
.paper , .rock, .scissors{
    width: 115px;
    height: 115px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    justify-self: center;
    box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.274);
    z-index: 1;    
}

.paper{
    background-image: var(--Paper_Gradient);
}

.rock{
    background-image: var(--Rock_Gradient);
}

.scissors{
    background-image: var(--Scissors_Gradient);
    transform: translateY(200px);
}

.icon{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    border-radius: 50%;
    box-shadow: inset 0 8px 0 0 rgba(0, 0, 0, 0.274);
    margin: auto;
}

.icon svg{
    margin: auto;
}

.resultDiv{
    width: 50rem;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.resultDiv p{
    margin: 0 auto;
    color: #f7f7f7;
    animation: myPickText 0.2s ease-in-out;
}

.resultDiv_myPick, .resultDiv_botPick{
    width: 200px;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto 0;
    font-size: 1.2rem;
}

.resultDiv_result{
    width: max-content;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 0;
    font-size: 2.5rem;
}

.resultDiv button{
    width: max-content;
    border: none;
    padding: 18px 70px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 1em black;
    cursor: pointer;
    font-size: 1.02rem;
    font-weight: 700;
    color: var(--Dark_Text);
}

.resultDiv button:hover{
    color: #dd405d;
}

.picked div{
    transform: translateY(0) scale(1.6);
    margin: 0 auto;
    animation: pick 0.4s ease-in-out;
    cursor: unset;
}

/* rules */

.rules {
    width: max-content;
    height: min-content;
    padding: 1rem 3rem;
    border: 4px solid var(--Dark_Text);
    border-radius: 10px;
    font-size: 1.15rem;
    color: #f7f7f7;
    margin: 0 10px 10px auto;
    cursor: pointer;
}

.rulesDiv{
    width: 100vw;
    height: 100vh;
    background-color: #151515e0;
    display: flex;
    position: absolute;
}

.rulesDivC{
    width: max-content;
    height: max-content;
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    z-index: 1;
}

.rulesDivC img{
    margin-top: 30px;
}

.rulesText{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    color: var(--Dark_Text);
}

.rulesText span{
    margin-top: auto;
}

.rulesText img{
    cursor: pointer;
}

.win{
    width: 420px;
    height: 420px;
    border-radius: 50%;
    position: absolute;
    transform: translateY(99px) translateX(-110px);
    animation-delay: 1s;
    animation: winAni 1s ease-in-out;
    animation-fill-mode: forwards;
    z-index: -1;
}

/* ani */

@keyframes pick{
    0%{
        transform: scale(0);
        
    }

    100%{
        transform: scale(1.6);
    }
}

@keyframes myPickText{
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes winAni{
    0%{
        opacity: 0;
        background-color: #3b43633b;
        box-shadow: 0 0 0 50px #3b436315, inset 0 0 0 50px #3b436334;
    }
    100%{
        opacity: 0.3;
        background-color: #3b43633b;
        box-shadow: 0 0 0 50px #3b436315, inset 0 0 0 50px #3b436334;   
    }
}


/* mobile */

@media screen and (max-width: 1000px){

    .resultDiv{
        width: 100%;
    }

    .resultDiv_myPick, .resultDiv_botPick{
        height: 300px;
        margin: 0;
        margin-bottom: auto;
    }

    .resultDiv_result{
        margin: 0;
        margin-top: auto;
    }

    .rules{
        margin: auto;
    }

    .win{
        transform: translateY(49px) translateX(-110px);
    }
}

@media screen and (max-width: 900px){
    .container{
        transform: scale(0.9);
    }
}